
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--<app-test2></app-test2>--->
<!--One way data-binding -->
<!--  {{ title }}----><!--  interpolation : TS -> HTML -->
<!-- <button (click)="f(1)">test</button>---> <!--event binding  HTML -> TS -->
<!-- <input [value]="title">---> <!--property binding TS -> HTML -->
<!-- <br>ngModel: <input [(ngModel)]="title">  --->
<!--routerLink : directive qui remplace l'attribut "href" et qui désactive le chargement (relaod) de la page-->

<!--- routerOutlet: directive qui indique au routeur où charger la vue du composant-->




